
.header
    margin-bottom 48px
    padding 16px 48px
    text-align center
    color #fff
    background-color #484848

    &__logo
        width 64px
        height 64px;
        display inline-block
        background-image url('../img/homer-simpson.svg')
        background-size contain